<%= show_field_wrapper **field_wrapper_args do %>
  <ul>
    <% @field.value.all.each do |p| %>
      <li><%= link_to p.title, "/admin/resources/people/#{p.id}" %></li>
    <% end %>
  </ul>
<% end %>