<div class="flex-1 flex p-4">
  <div class="place-self-end">
    <ul class="px-5" style="list-style-type: circle;">
      <li><a href="https://www.youtube.com/watch?v=onn7gIxoOGw" target="_new">Admin Overview Video</a></li>
      <li><a href="https://youtu.be/..." target="_new">Main Overview Video</a></li>
      <li>TODO: Downloading Activities</li>
    </ul>
  </div>
</div>
