<%= render CardComponent.new(id: "search-for-item", title: "Search for Item") do %>
  <div data-controller="autocomplete value-stripper" data-autocomplete-url-value="/items" data-value-stripper-replacements-value='<%= ValueStripper.all_replacements.to_json %>'>
    <input
      type="text"
      data-autocomplete-target="input"
      placeholder="Search items..."
      data-action="keyup->value-stripper#update paste->value-stripper#update change->value-stripper#update"
      data-value-stripper-target="input"
    >
    <div data-autocomplete-target="results" class="autocomplete-results"></div>
  </div>
<% end %>
