<div class="row">
  <div class="col-md-6">
    <%= render partial: "search_for_item" %>
  </div>

  <div class="col-md-6">
    <%= render partial: "search_for_customer" %>
  </div>
</div>

<div class="row pt-4">
  <div class="col-md-12">
    <%= render partial: "past_due_checkouts" %>
  </div>
</div>