<h1>Items Available</h1>

<% locations.each do |location| %>
  <% location.items.each do |item| %>
    <p>
      <b><%= item.name %></b><br />
      <%= item.available? ? "Available" : "Taken" %>
    </p>
  <% end %>
<% end %>

<%= link_to "Log In", new_admin_user_session_path %>