<div class="p-4">
  <ul class="list-disc pl-5 text-sm space-y-1 [&_a]:text-primary-600 [&_a]:hover:underline">
    <li><a href="https://www.youtube.com/watch?v=ZWTOT_JPzsY" target="_new">Checking Out and Returning Equipment Video</a></li>
    <li><a href="https://www.youtube.com/watch?v=onn7gIxoOGw" target="_new">Admin Overview Video</a></li>
    <li>TODO: Downloading Activities</li>
  </ul>
</div>
